@use "variables" as *;
@use "utilities" as *;
@use "floatGrid" as *;
@use "typography" as *;
.section-about {
  background-color: $color-gray-1;
  padding: 25rem 0;
  margin-top: -20vh;
}
.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-3px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
.composition {
  position: relative;
  &_photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    // border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
    &_p1 {
      left: 0;
      top: -2rem;
    }
    &_p2 {
      right: 0;
      top: 2rem;
    }
    &_p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &_photo:not(:hover) {
    transform: scale(0.9);
  }
}
