<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Exciting tours for adventurous souls!</h2>
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">
        You're gonna fall in love with nature.
      </h3>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        recusandae, cumque nostrum molestias voluptatem fugit ullam voluptas
        minus repellat velit, odit quae dignissimos saepe accusantium nemo,
        reprehenderit nam neque corporis.
      </p>

      <h3 class="heading-tertiary u-margin-bottom-small">
        Live adventures you had not before.
      </h3>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        recusandae, cumque nostrum molestias voluptatem fugit ullam voluptas
        minus.
      </p>
      <a href="#" class="btn-text">Learn more &rarr;</a>
    </div>
    <div class="col-1-of-2">
      <div class="composition">
        <img
          src="nat-1-large.jpg"
          alt="p1"
          class="composition_photo composition_photo_p1"
        />
        <img
          src="nat-2-large.jpg"
          alt="p2"
          class="composition_photo composition_photo_p2"
        />
        <img
          src="nat-3-large.jpg"
          alt="p3"
          class="composition_photo composition_photo_p3"
        />
      </div>
    </div>
  </div>
</section>
