<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Exciting tours for adventurous souls!</h2>
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">
        You're gonna fall in love with nature.
      </h3>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        recusandae, cumque nostrum molestias voluptatem fugit ullam voluptas
        minus repellat velit, odit quae dignissimos saepe accusantium nemo,
        reprehenderit nam neque corporis.
      </p>

      <h3 class="heading-tertiary u-margin-bottom-small">
        Live adventures you had not before.
      </h3>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        recusandae, cumque nostrum molestias voluptatem fugit ullam voluptas
        minus repellat velit, odit quae dignissimos saepe accusantium nemo,
        reprehenderit nam neque corporis.
      </p>
    </div>
    <div class="col-1-of-2">image area</div>
  </div>
</section>
