/* to use this variables I added

"stylePreprocessorOptions": {
    "includePaths": ["src/styles"]
  }
in angular.json file */

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-gray-1: #f7f7f7;
$color-black: #000;
$color-white: #fff;
$color-gray-dark: #777;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
