/* to use this variables I added

"stylePreprocessorOptions": {
    "includePaths": ["src/styles"]
  }
in angular.json file */

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
