*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}
